<!-- Services -->
<section class="page-section" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Servicios</h2>
        <h3 class="section-subheading text-muted">En Marcos M3 somos fabricantes lo que nos permite satisfacer las necesidades de nuestos clientes.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Ventas individuales</h4>
        <p class="text-muted">Esta opción es ideal para las personas que requieren mantener un recurdo o mostrar un logra optenido. Son marcos completos listos para colgarse
          De 1 a 10 piezas.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Venta al mayoreo</h4>
        <p class="text-muted"> Ideal para empresas o escuelas que requieren reconocer a sus mejores elemento. Puden ser diplomas, marcos para fotos.
          Mayores a 10 piezas</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Distribudores</h4>
        <p class="text-muted">Tienes un negocio (vidrieria , galeria , studio fotografico) o quieres emprender tu propio necgocio .</p>
      </div>
    </div>
  </div>
</section>
